{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    }
},
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "semi": ["error", "never"],
    "semi-style": ["error", "first"],
    "prettier/prettier": ["error"],
    "comma-dangle": ["error", "never"],
    "react/jsx-indent": [true, 8]
  }
}
